<!-- <div class="croma-home">
    <div class="all-home">
        <div class="menu-double">
            <load="partials/home-menu.html" />
            <load="partials/home-ukraine.html" />
        </div>
        <load="partials/home-books.html" />
    </div>
</div> -->
<div class="all-home">
    <div class="container-home">
        <div class="home-menu">
            <load="partials/home-menu.html" />
        </div>
        <div class="home-ukraine">
            <load="partials/home-ukraine.html" />
        </div>
    </div>
    <div class="home-books">
        <load="partials/home-books.html" />
    </div>
</div>
    
    
    
    