.all-home {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.container-home {
  display: flex;
  flex-direction: column;
  margin: 0 12px 40px;
}

@media screen and (max-width: 375px) {
  .container-home > div:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .container-home {
    flex-direction: row;
    margin: 0 26px;
    max-width: 704px;
    justify-content: center;
    gap: 32px;
    max-height: 474px;
  }
}

@media screen and (min-width: 1440px) {
  .all-home {
    flex-direction: row;
  }

  .container-home {
    flex-direction: column;
    max-width: 356px;
    max-height: 1032px;
    margin: 0 40px 86px 16px;
  }

  .container-home > div:not(:last-child) {
    margin-bottom: 86px;
  }
}
