
.all-home {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.container-home {
  display: flex;
  flex-direction: column;
  margin: 0 12px 40px;
}

@media screen and (max-width: 375px) {
  .container-home > div:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .container-home {
    flex-direction: row;
    margin: 0 26px;
    max-width: 704px;
    justify-content: space-between;
    max-height: 474px;
  }
}

@media screen and (min-width: 1440px) {
  .all-home {
    flex-direction: row;
  }

  .container-home {
    flex-direction: column;
    max-width: 356px;
    max-height: 1032px;
    margin: 0 40px 86px 16px;
  }

  .container-home > div:not(:last-child) {
    margin-bottom: 86px;
  }
}
=======
body {
    margin: 0;
}

.all-home {
    display: flex;
    flex-direction: column;
    width: 335px;
    gap: 40px;
    margin-right: 20px;
    margin-left: 20px;
}

@media screen and (min-width: 768px) {
    .all-home {
        flex-direction: row;
        gap: 32px;
        flex-wrap: wrap;
        width: 100%;
    }

    .slider-container,
    .block-support-ukraine {
        width: calc((100% - 32px) / 2);
    }

    .container {
        width: 100%;
        margin-top: 100px;
    }

}

