body {
  margin: 0;
}

.all-home {
  display: flex;
  flex-direction: column;
}

.container-home {
  display: flex;
  flex-direction: column;
  width: 335px;
  gap: 40px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 40px;
}

@media screen and (max-width: 375px) {
  .container-home > div:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  /*all-home added after call with alex*/
  .all-home {
    align-items: center;
  }
  /*-------------------------------------*/

  .container-home {
    flex-direction: row;
    max-width: 704px;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
    gap: 32px;
    width: 100%;
    /* margin: 0 26px; */
    /*max-height: 474px; */
    /* gap: 32px;*/
    /*margin-bottom: 40px; */
    /* width: calc((100% - 32px) / 2); */
    /* flex-direction: row; */
    /* flex-wrap: wrap;  <-- error moving */
  }

  /* .slider-container {
    margin-right: 32px;
  } */
}

@media screen and (min-width: 1440px) {
  .all-home {
    flex-direction: row;
    align-items: normal;
  }

  .container-home {
    flex-direction: column;
    max-width: 356px;
    max-height: 1032px;
    margin: 0 40px 86px 16px;
  }

  .container-home > div:not(:last-child) {
    margin-bottom: 86px;
  }
}

/* body {
  margin: 0;
}

.all-home {
  display: flex;
  flex-direction: column;
  width: 335px;
  gap: 40px;
  margin-right: 20px;
  margin-left: 20px;
}

@media screen and (min-width: 768px) {
  .all-home {
    flex-direction: row;
    gap: 32px;
    flex-wrap: wrap;
    width: 100%;
  }

  .slider-container,
  .block-support-ukraine {
    width: calc((100% - 32px) / 2);
  }

  .container {
    width: 100%;
    margin-top: 100px;
  }
} */
