/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: "DM Sans", "DM Sans Bold", "DM Sans Regular", "DM Sans Italic", "DM Sans Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --black: #111;
  --black-1: #202024;
  --violet: #4f2ee8;
  --yellow: #eac645;
  --white: #fff;
}

/** MOBILE CSS */
.slider-container {
  overflow-y: auto;
  /* height: 100%; */
}

.slider-container ul {
  list-style-type: none;
  padding: 0;
}

.slider-container ul p {
  cursor: pointer;
}

.slider-container ul p:hover {
  background-color: #f0f0f0;
}

/** ================================================================= */
#category-list {
  width: 307px;
  height: 228px;
  overflow-y: auto;
  margin-top: 20px;
}

#category-list::-webkit-scrollbar {
  width: 8px;
}

#category-list::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  /* Цвет ползунка */
  border-radius: 12px;
  /* Скругление углов ползунка */
  height: 114px;
  /* Высота ползунка */
}

#title {
  cursor: pointer;
  /*  */
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #800080;
}

#category-list p {
  cursor: pointer;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.6);
}

#category-list p:hover {
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #800080;
}

#p-list {
  margin-right: 20px;
}