/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.slider-container {
  overflow-y: auto;
  /* Разрешить вертикальную прокрутку */
  height: 300px;
  /* Фиксированная высота контейнера */
  border: 1px solid #ccc;
  /* Границы для визуального отображения */
}

.slider-container ul {
  list-style-type: none;
  /* Убираем маркеры списка */
  padding: 0;
}

.slider-container ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  /* Разделители между категориями */
  cursor: pointer;
  /* Изменяем указатель при наведении на элемент */
}

.slider-container ul li:hover {
  background-color: #f0f0f0;
  /* Изменяем цвет фона при наведении */
}

#category-list {
  height: 300px;
  overflow-y: auto;
  border: 1px solid black;
  padding: 10px;
  margin-top: 20px;
}

#category-list p {
  cursor: pointer;
}

#category-list p:hover {
  background-color: #f0f0f0;
  margin: 10px 0;
}