@media screen and (min-width: 768px) {
    .slider-container {
        overflow-y: auto;
        height: 100%;
    }

    #category-list {
        width: 309px;
        height: 472px;
    }

    #category-list::-webkit-scrollbar-thumb {
        height: 167px;
        /* Высота ползунка */
    }

    #title {
        margin-bottom: 32px;
        font-size: 18px;
        line-height: 133%;
    }

    #category-list p {
        margin-bottom: 32px;
        font-size: 18px;
        line-height: 133%;
    }

}